/.venv/
/venv/
*.pyc
__pycache__/
db.sqlite3
/media/
/media/*
runserver.log
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.py[cod]
env/
.env
node_modules/
dist/
build/
coverage/
*.egg-info/
pip-wheel-metadata/